<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #container {
            width: 400px;
            margin: 50px auto;
        }

        h1 {
            margin-bottom: 5px;

        }


         li {
            list-style: none;
            height: 50px;
            background: #cccccc;
            line-height: 50px;
            margin-bottom: 10px;



        }

        
        .close,.price {
            float: right;
        }

        .close {
            margin: 0 10px 0 10px;
            color: red
        }

        .pink {
            background: pink;
        }
    </style>
</head>

<body>
    <div id="container">
        <h1>todolist</h1>
        <hr>
        <div>
            <label for="proName">名称</label>
            <input type="text" id="proName" placeholder="请输入产品名称" v-model="name">
            <label for="proPrice"> 价格</label>
            <input type="text" id="proPrice" placeholder="请输入产品价格" v-model="price">
            <button @click="add()">添加 </button>
        </div>
        <div >
            <input type="text" placeholder="请输入搜索内容" v-model = "searchValue">
            <button @click = "select()">搜索</button>
        </div>
        <ul >
            <li v-for="(product,index) in proList" @click="change(product)" :class="{pink:product.isChecked}" v-show = "product.isShow">
                <input type="checkbox" v-model="product.isChecked">
                <span>{{product.proName}}</span>
                <span class="close" @click.stop = "del(index)">[X]</span>
                <span class="price">{{product.proPrice}}</span>

            </li>

        </ul>
        <div>
            <button @click = "delAll()">删除选中</button>
            <span>总价</span>
            <span>{{total(obj)}}</span>
        </div>
    </div>

    <script>
        let vm = new Vue({
            el: "#container",
            data: {
                proList: [
                    {
                        proName: "裤子",
                        proPrice: 11,
                        isChecked: false,
                        isShow:true

                    },
                    {
                        proName: "衣服",
                        proPrice:22,
                        isChecked: false,
                        isShow:true

                    },
                    {
                        proName: "电脑",
                        proPrice:3333,
                        isChecked: false,
                        isShow:true

                    },
                    {
                        proName: "iphonX",
                        proPrice:6666,
                        isChecked: false,
                        isShow:true
                    }
                ],
                name:'',
                price:'',
                searchValue:''
            },
            methods: {
                add() {
                    if (this.name && this.price) {
                        this.proList.push({ proName: this.name, proPrice: this.price*1, isChecked:false,isShow:true });
                        this.name = "";
                        this.price = "";
                    }
                },
                change(product) {
                    product.isChecked = !product.isChecked;
                },
                total() {
                    let sum = 0;
                    this.proList.forEach(function(obj) {
                        if (obj.isChecked) {
                            sum += obj.proPrice;
                        }
                    })
                    return sum;
                },
                select(){
                    this.proList.forEach((obj) =>{
                        if(obj.proName.includes(this.searchValue)){
                            obj.isShow= true
                        }
                        else{
                            obj.isShow = false
                        }
                    })

                },
                del(index){
                   this.proList.splice(index,1)
                   
                },
                delAll(){
                    // this.proList.forEach(function(obj){
                    //     if(obj.isChecked){

                    //     }
                    // })
                     let arr = this.proList.filter(function(obj){
                        return !obj.isChecked;
                    })
                    this.proList = [...arr];
                }

            }

        })
    </script>
</body>

</html>