*{
    margin: 0;
    padding: 0;
}
body{
    font-size:16px;
}
.nav{

    background: #06c1ae;
    display:flex;
    
}
#nav-add{
    width: 1.67rem;
    height: 1.01rem;
    line-height:1.01rem;
    text-align: center;
    color:#FFFFFF;
    position: relative;
    margin-left:-0.15rem;
}
.arrow{
    color:#FFFFFF;
    position: absolute;
    left:1.2rem;
    top:0.4rem;
    
   
}
#nav-search-box{
    flex:1;
    height: 0.64rem;
    border:none;
    outline:none;
    border-radius: 5px;
    background: #00a494;
    margin-top:0.2rem;
    line-height: 0.64rem;
}
.nav-search {
    color:rgba(225,225,225, 0.5);
    font-size:13px;
}
 
.icon-search{
      margin-left:2px;
      color:#FFFFFF;
      font-size:0.16rem;
}
.nav-right{
    width: 0.94rem;
    height: 1.01rem;
    line-height: 1.01rem;
    text-align: center;
    color:#FFFFFF;
    position: relative;
    
}
.nav-right .icon-wode1{
    font-size:0.5rem;
  
}
.icon-wode1{
    position: absolute;
    top:-5px;
    right:10px;
    z-index:2;
    font-size:20px;
}
#nav-mine{
  position: absolute;
  bottom:-15px;
  right:12px;
  font-size:10px;
}
.img-header img{
    width:7.5rem;
    height: 2.2rem;
    border-bottom:1px solid #ddd3ce;
}
.mune-box{
    display:flex;
    flex-wrap: wrap;
    background: #fff;
    
    
}
.mune-box li{
    width:20%;
    list-style:none;
    margin-bottom:20px;

}
.nav-image{
    text-decoration: none;
}
.list-img{
    width:0.8rem;
    height:0.8rem;
    background: orange;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    margin-top:5px;
}
.list-title{
    text-align: center;
    font-size: .24rem;
    color: #666;
    text-decoration: none;
    
    
}
.list-img .iconfont{
    font-size: 0.5rem;
    position: absolute;
    top:0.15rem;
    left:0.15rem;
    color:#fff;
}
.pro-list-box{
    background: #ffffff;
    border-top:5px solid rgb(231, 218, 218) ;
    padding-left:0.2rem;
}
.pro-list-box h2{
    height: 0.84rem;
    line-height: 0.84rem;
    font-size: .34rem;
    color: #333;
    font-weight: normal;
    border-bottom:1px solid #DDD8CE;
}
.pro-list{
    padding:0.2rem 0;
    display: flex;
    border-bottom:1px solid #DDD8CE;
}
.pro-list-img{
    width:1.8rem;
    height: 1.8rem;
    margin-right:0.2rem;
}
.pro-list-info{ 
    flex:1;
    color:#333;
    
    
}
.pro-header{
   font-size:0.3rem;
   padding-bottom:0.1rem;

}
.pro-least{
    font-size:0.24rem;
}